<div class="container" ng-controller="personController">
        <h2>Total persons:{{totalPersons()}}</h2>

        <table class="table table-striped table-bordered" style="width: 60%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in persons">
                <td> {{ person.name }}</td>
                <td>
                    <a  href="#/details/{{person.id}}"  >{{person.age}}</a>

                </td>
            </tr>
            </tbody>
        </table>

        <div>

    </div>